<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Poor man's Facebook</title>
    </head>
    <body>

        <h2>Poor man's Facebook</h2>
        
        <h3>What is on your mind, <span th:text="${user}">user</span>? </h3>
        <ul>
            <li th:each="status : ${statuses}">
                <span th:utext="${status}">status</span> 
            </li>
        </ul>
        
        <form action="#" th:action="@{/addstatus}" method="POST">
            <p><label for="status">Status:</label>: <input type="text" name="status" id="status"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        <h3>This is what your friends think:</h3>
        <ul>
            <li th:each="friend : ${friends}">
                <span th:text="${friend.username}">user</span> 
                <ul>
                    <li th:each="status : ${friend.statuses}">
                        <span th:text="${status}">status</span>    
                    </li>
                </ul>
            </li>
        </ul>
        
        <p><big>Looking</big> for friends?
            <a href="searchFriends.html" th:href="@{/searchFriends}">Click here.</a>        
        </p>
        
        <hr />
        <p> 
            Cyber Security Base / Course Project I  / <a href="mailto:tero.hakuli@iki.fi">Tero Hakuli</a> 
        </p>
    </body>
</html>
