<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>This is the main page</title>
    </head>
    <body>

        <h2>Poor man's Facebook</h2>
        
        <h3>What is on your mind?</h3>
        <ul>
            <li th:each="status : ${statuses}">
                <span th:text="${status}">status</span> 
            </li>
        </ul>
        
        <h3>This is what your friends think:</h3>
        <ul>
            <li th:each="friend : ${friends}">
                <span th:text="${friend.username}">user</span> 
                <ul>
                    <li th:each="status : ${friend.statuses}">
                        <span th:text="${status}">status</span>    
                    </li>
                </ul>
            </li>
        </ul>
        
        <form action="#" th:action="@{/addstatus}" method="POST">
            <p><label for="status">Status:</label>: <input type="text" name="status" id="status"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        <p> This is the end </p>
    </body>
</html>
