<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My login page</title>
    </head>
    <body>

        <h1>Welcome to my app</h1>
        <c:url value="/mylogin" var="loginUrl"/>
        <form action="${loginUrl}" method="post">       
                <c:if test="${param.error != null}">        
                        <p>
                                Invalid username and password.
                        </p>
                </c:if>
                <c:if test="${param.logout != null}">       
                        <p>
                                You have been logged out.
                        </p>
                </c:if>
                <p>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username"/>
                </p>
                <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password"/>
                </p>
                <button type="submit" class="btn">Log in</button>
            <!--
                <input type="hidden"                        6
                        name="${_csrf.parameterName}"
                        value="${_csrf.token}"/>
                <button type="submit" class="btn">Log in</button>
            -->
        </form>
    </body>
</html>
