<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search friends</title>
    </head>
    <body>

        <h3>Search Friends</h3>
        
        <ul>
            <li th:each="friend : ${friends}">
                <a th:href="@{addNewFriend(user=${user},new_friend=${friend})}"><span th:text="${friend}">friend</span></a>
            </li>
        </ul>        
        
        <form action="#" th:action="@{/searchFriends}" method="POST">
            <p><label for="status">Friend:</label>: <input type="text" name="friend" id="friend"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

                <div>Click a person name to add him/her to your friends...</div>
        <br/>
        <p>
            Return to main page:
            <a href="mainPage.html" th:href="@{/mainPage}">Click here.</a>        
        </p>
    </body>
</html>
